body {
  font-family: Arial, sans-serif;
}

a {
  all: unset;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

/* Header */

.header{
  margin-bottom: 80px;
}

.header-container {
  display: flex;
  align-items: center; 
}

.logo {
  width: 400px; 
  flex: 1; 
}

.right-content {
  flex: 2;
}

.menu {
  display: flex; 
  justify-content: flex-end; 
  font-size: 25px;
  margin-top: -80px;
  margin-right: 20px;
}

.menu a {
  margin-right: 60px; 
}

.menu a:last-child {
  margin-right: 80px; 
}

.menu a p {
  position: relative; 
}

.notification-bubble {
  background-color: red;
  color: white;
  border-radius: 50%; 
  padding: 3px 5px;
  font-size: 20px; 
  position: absolute; 
  top: -5px; 
  right: -30px; 
}

.head-line {
  width: 97%;
  height: 4px; 
  background-color: black;   
}

/* Gallary */

.title-line-gallery{
  text-align: center;
  font-size: 25px;
  margin-top: -70px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  justify-items: center;
  margin: 100px;
}

.product-item {
  text-align: center; 
  width: 289px; 
  transition: background-color 0.3s; 
}

.product-item:hover {
  background-color: #ffff65; 
  font-weight: bold; 
}

.image-container {
  display: inline-block; 
  line-height: 0; 
}

.product-image {
  width: 285px; 
  border: 2px solid black;
}
  
.text-container {
  width: 285px; 
  margin: 0 auto; 
  text-align: left; 
}

.product-name{
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-size: 25px;
}

.product-price {
  font-size: 25px;
  margin-bottom: 45px;
}

/* Detail */

.title-line-detail{
  text-align: center;
  font-size: 25px;
  margin-top: -70px;
}

.product-customization {
  display: flex;
  margin: 100px;
}

.product-image-customization {
  width: 600px; 
  height: 600px; 
  border: 2px solid black;
}

.customization{
  margin-left: 50px;
  margin-right: 60px;
  position: relative; 
}
  
.description {
  font-size: 20px;
  margin-bottom: 160px;
}
  
label {
  font-size: 20px;
  display: block;
  margin-bottom: 20px;
  text-align: left; 
}
  
select {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  margin: 0 auto 40px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}
  
.price-section {
  position: absolute;
  bottom: 0px; 
  right: 0px;
}
  
#price {
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}
  
.add-to-cart-btn {
  padding: 10px 35px;
  background-color: #ffff07;
  border: 1px solid black;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

/* Cart */

.cart-item {
  display: flex; 
  margin-left: 400px;
  margin-right: 120px;
  font-size: 18px;
  position: relative;
}

.one-item {
  position: relative;
}

.product-image-cart {
  display: block; 
  width: 200px; 
  height: 200px; 
  border: 2px solid black;
}

.remove{
  text-decoration: underline;
  font-weight: bold;
}

.one-item-information{
  margin-left: 30px;
}

.one-item-price{
  position: absolute;
  right: 0px;
  margin-top: 50px;
}

.check-out{
  position: relative;
  margin-left: 400px;
  margin-right: 120px;
  text-align: right; 
  font-size: 20px;
  margin-bottom: 100px;
}

.split-line{
  margin-top: 30px;
  height: 4px; 
  background-color: black; 
}
  
.total-price{
  display: inline-block; 
}

.total-price:first-of-type {
  margin-right: 330px;
}

.check-out-btn {
  display: block;
  padding: 10px 14px;
  background-color: #ffff07;
  border: 1px solid black;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  position: absolute;
  right: 0px;
}

